/* Prevent table content from being hyphenated */
*[class ~="topic/table"] {
    hyphens: none;
}
/* *************************** */

/* Add vertical spacing */
.padding-top-60 {
    padding-top: 60px;
}
/* *************************** */


/* Presentation tweaks */
/* Center text */
.centered {
    text-align:center !important
}
.largebold {
    font-weight:bold;
    font-size: larger;
}
.subtitle {
    font-weight:bold;
    font-size:x-large;
}
.normal-size-weight {
    font-weight:normal;
    font-size:initial;
}
/* *************************** */

/* Add RDA/LC-PCC/MLA/external icon after links */
    .rdatk:after {
        content:"";
        background-image:url(../resources/images/rda-icon.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:27px;
        height:10px;
        padding-left:4px;
        }
    .lcpcctk:after {
        content:"";
        background-image:url(../resources/images/lcpcc-icon.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:45px;
        height:10px;
        padding-left:4px;
        }
    .mlatk:after {
        content:"";
        background-image:url(../resources/images/mla-icon.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:34px;
        height:10px;
        padding-left:4px;
       }
    .externallink:after {
        content:"";
        background-image:url(../resources/images/external-icon-sm.png);
        display:inline-block;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        width:19px;
        height:15px;
        padding-left:4px;
        }
/* *************************** */

/* Manually force a pagebreak */
p.sectionsubhead {
    page-break-after:avoid;
    font-weight:bold;
}
/* *************************** */

/* Manually force a pagebreak */
.forcePageBefore {
    page-break-before:always;
}
.forcePageAfter {
    page-break-after:always;
}
/* *************************** */

/* Prevent page breaks between definition list term and definition */
dt {
    page-break-after:avoid;
}
/* *************************** */


/* Prevent page breaks immediately before an ordered or bulleted list in body text */
p + ul, p + ol {
    page-break-before:avoid;
}
/* *************************** */


/* Styling for MARC examples */
.pageGroup {
}

.rdaPage {
}

div.rdaPageSubgroup {
    display: block;
}

div.rdaPageSubgroup:nth-of-type(2) {
    page-break-before:always;
}

p.subheading:before {
    content: "Subheading: ";
    font-weight: bold;
}

p.subheading {
    page-break-after:avoid;
    display: block;
    font-weight:normal;
}

p.oldNumber:before {
    content: "Former number: ";
    font-weight: bold;
}
p.oldNumber {
    display:block;
    font-weight:normal;
    page-break-after:avoid;
    page-break-before:avoid;
}

p.oldName:before{
    content: "Earlier name: ";
    font-weight:bold;
}

p.oldName {
    display:block;
    font-weight:normal;
    page-break-after:avoid;
    page-break-before:avoid;
}

table.bpExample {
    width:600px !important;
    max-width:600px !important;
    background-color:rgba(225, 245, 255, 1);
    border-collapse:separate;
    padding: 12px;
    border-radius:10px;
    margin-bottom:10px;
    page-break-inside:avoid;
}

tgroup.marcBlock {
}

tr.marcContent {
    line-height:1 !important;
    padding: 0px !important;
}
tr.exampleConjunction, tr.exampleCaption {
}

tr.marcContent > td {
    font-size:initial;
    font-weight:normal;
    text-decoration:none;
    line-height:1.125 !important;
    padding:0px 0px 3px 0px !important;
    page-break-inside:auto !important;
}

td.marcBytes:before{
    content:"/";
    font-weight:normal;    
}

tr.exampleConjunction > td {
    font-weight:bold;
    padding-top:6px;
    padding-bottom:6px;
}

tr.exampleCaption td {
    font-weight: bold;
    font-size:smaller;
    padding-top:6px;
    padding-bottom:6px;
    line-height:1.2 !important;
}

span.sf {
    color:blue;
}

/* Disable punctuation processing for now except to hide relocated/duplicated punctuation included in isbd-minimal
span.isbd-full:hover, span.isbd-minimal:hover, span.isbd-internal:hover, span.isbd-integral:hover, span.isbd-aap:hover {
    background-color:white;
}
span.isbd-full {
    font-weight:600;
    color:red;
}
span.isbd-internal {
    color:purple;
    font-weight:600;
}
span.isbd-integral {
    color:blue;
    font-weight:600;
}
span.isbd-aap {
    color:black;
}
*/
span.isbd-minimal {
    display:none;
}
/* *************************** */