@namespace oxy url('http://www.oxygenxml.com/extensions/author');

oxy|comment {
    display:none !important; 
}

exampleSet:before {
    content: "RDA Examples";
	font-weight: bold;
	width: 200px;
	font-size: 18pt;
	display: block;
}

exampleSet{
    display: block;
}

pageGroup {
    margin-bottom: 20px;
}

rdaPage {
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
    page-break-before:always;
}

rdaPageSubgroup {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;
    width:600px;
    max-width:600px;
    page-break-before:avoid;
}

subheading:empty{
    display:none;
}

subheading:before{
    content: "Subheading: ";
    font-weight: normal;
}

subheading{
    page-break-after:avoid;
    page-break-before:avoid;
    display: block;
    font-weight:bold;
    margin-left:30px;
}

oldNumber:empty{
    display:none;
}
oldNumber:before{
    content: "Former number: ";
    font-weight:normal;
}
oldNumber{
    display:block;
    font-weight:bold;
    page-break-after:avoid;
    page-break-before:avoid;
    margin-left: 30px;
        
}

oldName:before{
    content: "Earlier name: ";
    font-weight:normal;
}

oldName:empty{
    display:none;
}

oldName{
    display:block;
    margin-left:30px;
    font-weight:bold;
    page-break-after:avoid;
    page-break-before:avoid;
    overflow:auto;    
}

bpExample {
    display: block;
    margin-left: 40px;
    background-color:rgba(225, 245, 255, 1);
    padding: 10px;
    border-radius:6px;
    width:600px;
    margin-bottom:10px;
    page-break-inside:avoid;
}


marcBlock {
    display:table;
    max-width:600px;  
}

marcContent {
    display:table-row;
}
exampleConjunction, exampleCaption {
    page-break-before:avoid;
    display:block;
    width:600px;
}

marcTag {
    display: table-cell;
    font-size:initial;
    font-weight:initial;
    text-decoration:none;
    width:40px;
    max-width:40px !important;
}

marcBytes:before{
    content:"/"
}

marcBytes{
    display: table-cell;
    font-size:initial;
    font-weight:initial;
    text-decoration:none;
    width:60px;
    max-width:60px;
}

marcInd{
    display:table-cell;
    font-size:initial;
    font-weight:initial;
    text-decoration:none;
    width:60px;
    max-width:60px !important;
}

marcText{
    display: table-cell;
    font-size:initial;
    font-weight:initial;
    text-decoration:none;
    width:500px;
    max-width:500px;
}

exampleConjunction {
    font-weight:600;
}

exampleCaption {
    font-weight: bold;
    font-size:smaller;
}

sf {
    color:blue;
}

punc:hover{
    background-color:white;
}

punc[isbdType="full"] {
    font-weight:600;
    color:red;
}

punc[isbdType="minimal"] {
    color:gray;
    
}

punc[isbdType="internal"]{
    color:purple;
    font-weight:600;
}

punc[isbdType="integral"] {
    color:blue;
    font-weight:600;
}

punc[isbdType="aap"]{
    color:black;
}



