[outputclass*="pageGroup"] {
   /* margin-bottom: 20px; */
}

[outputclass*="rdaPage"] {
    font-size: 16pt;
    font-weight: bold;
    page-break-before:always;
}

[outputclass*="rdaPageSubgroup"] {
    display: block;
/*  margin-top: 15px;
    margin-left: 15px;*/
    font-size: 16px;
    width:600px;
    max-width:600px;
    page-break-before:avoid;
}


[outputclass*="subheading"]:before {
    content: "Subheading: ";
    font-weight: bold;
}

[outputclass*="subheading"] {
    page-break-after:avoid;
    page-break-before:avoid;
    display: block;
    font-weight:normal;
/*    margin-left:30px;*/
}


[outputclass*="oldNumber"]:before {
    content: "Former number: ";
    font-weight:bold;
}
[outputclass*="oldNumber"] {
    display:block;
    font-weight:100;
    page-break-after:avoid;
    page-break-before:avoid;
/*  margin-left: 30px;*/
        
}

[outputclass*="oldName"]:before{
    content: "Earlier name: ";
    font-weight:bold;
}

[outputclass*="oldName"] {
    display:block;
    font-weight:100;
    page-break-after:avoid;
    page-break-before:avoid;
    overflow:auto;
/*  margin-left:30px;*/    
}

[outputclass*="bpExample"] {
    background-color:rgba(225, 245, 255, 1);
    padding: 12px;
    border-radius:6px;
    margin-bottom:10px;
    page-break-inside:avoid;
/*  width:600px;*/
/*  margin-left: 40px;*/
}

[outputclass*="marcBlock"] {
    max-width:600px;  
}

[outputclass*="marcContent"] {
    padding:0px;
    line-height:1 !important;
    padding-bottom:0px;
    padding-top:0px;
    margin-bottom:-10%;
    margin-top:-10%;
}
[outputclass*="exampleConjunction"], [outputclass*="exampleCaption"] {
    page-break-before:avoid;
    display:block;
    width:600px;
}

[outputclass*="marcTag"], [outputclass*="marcBytes"], [outputclass*="marcInd"], [outputclass*="marcText"] {
    display:inline-block;
    font-size:initial;
    font-weight:100;
    text-decoration:none;
    padding:0px !important;
/*  width:40px;
    max-width:40px !important;*/
}

[outputclass*="marcBytes"]:before{
    content:"/";
    font-weight:100;    
}

[outputclass*="exampleConjunction"] {
    font-weight:600;
}

[outputclass*="exampleCaption"] {
    font-weight: bold;
    font-size:smaller;
}

[outputclass*="sf"] {
    color:blue;
}

[outputclass^="isbd"]:hover {
    background-color:white;
}

[outputclass*="isbd-full"] {
    font-weight:600;
    color:red;
}

[outputclass*="isbd-minimal"] {
    color:gray;
}

[outputclass*="isbd-internal"] {
    color:purple;
    font-weight:600;
}

[outputclass*="isbd-ingegral"] {
    color:blue;
    font-weight:600;
}

[outputclass*="isbd-aap"] {
    color:black;
}



